@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-center {
  width: 100%;
}
.body {
  font-family: "Work Sans", sans-serif;
}

.navbar {
  width: 100vw;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
}
.tabs button:active {
  border-bottom: 17px;
  border-color: rgb(248, 184, 7);
}
@layer components {
  .btn {
    @apply px-3 py-1 md:px-4 rounded-lg font-semibold;
  }
  .buttons {
    @apply text-white px-3 py-1 md:px-4 rounded-lg  bg-orange;
  }
  .buttons-invert {
    @apply text-orange btn bg-transparent border border-orange;
  }

  .dish {
    height: 400px;
  }
  .menu-item {
    height: auto;
    background: linear-gradient(180deg, rgba(255, 151, 29, 0.234) 0%, rgba(255, 255, 255, 0.39) 90.93%);
  }
  .subtitle {
    @apply font-semibold mb-3 text-4xl;
  }
  .menu-img {
    width: 180px;
    height: 180px;
    @apply object-cover;
  }
  .categories {
    height: 300px;
  }
  .login {
    height: 100vh;
  }
  .suggestion {
    background-image: url("./images/suggestions.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  }

  .suscribe {
    height: 400px;
  }
  .message {
    transform: translateY(50px);
  }
  .message-input {
    @apply px-5 py-1 border border-gray-300 my-5 text-sm rounded-full;
  }
  .message-text {
    @apply px-3 py-1  border border-gray-300 my-5 text-sm rounded-lg;
  }
  .footer-top {
    height: auto;
  }
  .footer-b {
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .soon {
    height: 250px;
    width: 400px;
  }

  .coming-soon {
    background: rgba(255, 232, 214, 0.61);
  }
  .articles {
    height: 400px;
  }
  .single-post {
    height: 450px;
    @apply bg-gray-50
  }
  .recipe1 {
    background-image: url("./images/recipe1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .recipe2 {
    background-image: url("./images/recipe2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .recipe3 {
    background-image: url("./images/recipe3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sidenav {
    height: 100vh;
  }
  .profile-info {
    width: inherit;
  }
  .login-input {
    @apply rounded-full mb-8 w-4/5 px-5 focus:outline-none py-2 border border-gray-300;
  }
}

@media screen and (max-width: 450px) {
  .soon {
    height: 200px;
    width: inherit;
  }
  .articles {
    height: 300px;
  }
  .dish {
    height: 250px;
    width: inherit;
  }
  .subtitle {
    @apply font-semibold
     mb-3 text-2xl;
  }
  .menu-img {
    width: 150px;
    height: 150px;
    @apply object-cover;
  }
  .footer-top {
    height: auto;
  }
  .landing-img {
    width: 350px;
    height: 350px;
  }
}
